@import "../../style/utils/variables.scss";

.Forma {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid $border-form;
  background-color: $primary-background;
  padding: 25px;
}
.Forma__input {
  border-radius: 10px;
  border: 1px solid $border-input;
  padding: 5px;
}

.Forma__input:focus,
.Forma__input:hover {
  border-color: $border-color-hover;
}

.nameinput {
  margin-right: 10px;
  margin-right: 15px;
}

.Button__form {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid $border-button-form;
  padding: 5px;
}
.Button__form:hover,
.Button__form:focus {
  color: $border-button-form-hover;
  background-color: $background-color;
  cursor: pointer;
}
